.container{
  position: relative;
  top: 100px;
  text-align: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.8)),  url(RPSLS.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height:1080px;
}

.h1 span {
  background-color: green; 
}